* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;
}
nav {
    padding: 10px 30px 10px 30px;
}

.row {
    display        : flex;
    justify-content: flex-start;
    align-items    : stretch;
    flex-wrap      : nowrap;
    padding        : 10px;
}

.cell {
    min-height: 75px;
    flex-grow : 1;
    flex-basis: 100%;
}
 
.recommendations {
    flex-basis    : 35%;
    display       : flex;
    align-items   : stretch;
    flex-direction: column;
}
 
.video-container {
    flex-basis: 70%;
}
 
.izml {
    flex-basis: 70%;
    min-height: 50px;
}
 
.i3q9 {
    flex-basis: 30%;
    min-height: 50px;
}
 
.video {
    width: 100%;
    height: 40vw;
}

 
.container {
    padding: 10px 30px 10px 30px;
}
 
.video-author {
    min-height: 21px;
}
 
.im09 {
    flex-direction: column;
}
 
.avatar {
    flex: 0 0 100px;
}
 
.iwd9u {
    flex-basis: 70%;
}
 
.video-title {
    min-height: 32px;
}
 
.video-menu {
    min-height: 0;
}
 
.video-info {
    flex-direction: column;
}
 
.video-author-subs {
    min-height: 21px;
}
 
.recommendations-list {
    flex-direction: column;
    flex          : 1 0;
}
 
.recommendation {
    flex   : 0 0 160px;
    display: flex;
}
 
.recommendation-vid-container {
    flex-basis: 298px;
    position  : relative;
    max-width : auto;
}
 
.rec-info {
    flex-basis: 70%;
    display   : flex;
}
 
.iybv9 {
    flex: 1 0;
}
 
.recommendations-options {
    min-height: 45px;
}
 
.recommendations-options button {
    border-radius: 20px;
    padding: 8px 11px;
}
 
.thumbnail {
    color   : black;
    width   : 100%;
    height  : 140px;
    position: absolute;
    transition: .1s;
    object-fit: cover;
}
 
.i4y41 {
    flex-direction: column;
    flex          : 1 0;
}
 
.rec-title {
    min-height: 0;
    flex-basis: 50%;
    overflow: hidden;
    font-size: 12px;
}
 
.rec-data {
    min-height: 0;
    flex-basis: 25%;
    font-size: 8px;
}
 
.rec-author {
    min-height: 0;
    flex-basis: 25%;
}
 
.thumbnail-vid {
    width: 100%;
    height: 100%;
}
 
.thumbnail:hover {
    opacity: 0;
}
 
.avatar-img {
    color        : black;
    border-radius: 50% 50% 50% 50%;
}
 
.logo {
    flex-basis: 400px;
    display        : flex;
    justify-content: center;
    min-height     : 50px;
    font-family: monospace;
}
 
.add-video {
    flex-basis     : 100px;
    display        : flex;
    justify-content: center;
    min-height     : 50px;
}
 
.add-video-icon {
    color        : black;
    border-radius: 50% 50% 50% 50%;
    width        : 30px;
    height       : 30px;
    align-self   : center;
}
 
.profile-icon {
    color        : black;
    border-radius: 50% 50% 50% 50%;
    width        : 30px;
    height       : 30px;
    align-self   : center;
}
 
.profile {
    flex-basis     : 100px;
    display        : flex;
    justify-content: center;
    min-height     : 50px;
}
 
.menu-icon {
    color        : black;
    width        : 30px;
    height       : 30px;
    align-self   : center;
}
 
.menu {
    flex-basis     : 100px;
    display        : flex;
    justify-content: center;
    min-height     : 50px;
}
 
.squares-icon {
    color        : black;
    border-radius: 50% 50% 50% 50%;
    width        : 30px;
    height       : 30px;
    align-self   : center;
}
 
.squares {
    flex-basis     : 100px;
    display        : flex;
    justify-content: center;
    min-height     : 50px;
}
 
.notifications-icon {
    color        : black;
    border-radius: 50% 50% 50% 50%;
    width        : 30px;
    height       : 30px;
    align-self   : center;
}
 
.notifications {
    flex-basis     : 100px;
    display        : flex;
    justify-content: center;
    min-height     : 50px;
}
 
.logo-icon {
    color: black;
    width: 30px;
}
 
.video-menu-share {
    min-height: 0;
}
 
.video-menu-more {
    flex-basis: 45px;
    min-height: 0;
}
 
.video-menu-save {
    min-height: 0;
}
 
.more-icon {
    color        : black;
    border-radius: 50% 50% 50% 50%;
    width        : 30px;
    height       : 30px;
    align-self   : center;
}
 
.video-menu-likes {
    min-height: 0;
}
 
.video-menu-dontlike {
    min-height: 0;
}
 
.i9vhj {
    flex-basis: 600px;
    flex      : 0 0 40%;
    min-height: 0;
}

@media (max-width: 992px) {
    .i3q9 {
        display: none;
    }

    .logo {
        display: none;
    }

    .add-video {
        display: none;
    }

    .squares {
        display: none;
    }

    .notifications {
        display: none;
    }

    .profile {
        display: none;
    }

    .recommendations-menu {
        display: none;
    }

    .recommendations-list {
        display: none;
    }

    .video-menu-likes {
        display: none;
    }
}

@media (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
}